<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Brewberry Pi Admin Console</title>

    <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="../bower_components/startbootstrap-sb-admin-2/dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../bower_components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../bower_components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>

      <div id="wrapper" ng-controller="brewberryController">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">Brewberry pi</a>
            </div>
            <div class="pull-right" style="padding-top:5px;padding-right:5px">
              <button class="btn btn-success" ng-click="addNew()"><i class="fa fa-plus fa-fw"></i> Add New</button>
            </div>
        </nav>

        <div style="padding-right:30px;padding-left:30px">
            <div class="row" ng-show="loading">Loading...</div>
            <div class="row" style="padding-top:20px" ng-hide="loading">
                <div class="col-lg-8">
                  <div class="panel panel-info" ng-repeat="newBrew in newBrews">
                      <div class="panel-heading">
                          <i class="fa fa-beer fa-fw"></i> <input type="text" ng-model="newBrew.name">
                      </div>
                      <!-- /.panel-heading -->
                      <div class="panel-body">
                        <div style="padding-bottom:10px;">
                          <div class="form-horizontal">
                            <div class="form-group">
                              <div class="col-sm-2 control-label"><strong>Channel:</strong></div>
                              <div class="col-sm-2">
                                <select class="form-control" ng-model="newBrew.channel">
                                  <option>0</option>
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                                  <option>6</option>
                                  <option>7</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <form class="form-inline">
                            <div class="form-group" ng-class="{ 'has-error': !isNumber(newBrew.min_temp) }">
                              <label for="minTempInput">Min Temp</label>
                              <input type="number" class="form-control" id="minTempInput" ng-model="newBrew.min_temp">
                            </div>
                            <div class="form-group" ng-class="{ 'has-error': !isNumber(newBrew.max_temp) }">
                              <label for="maxTempInput">Max Temp</label>
                              <input type="number" class="form-control" id="maxTempInput" ng-model="newBrew.max_temp">
                            </div>
                          </form>
                          <div class="pull-right">
                            <div class="btn-group">
                              <button class="btn btn-success" ng-click="saveNew(newBrew)" ng-disabled="!saveNewEnabled(newBrew)">Save</button>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="panel panel-default" ng-repeat="brew in brews" brew-repeat-directive>
                        <div class="panel-heading">
                            <i class="fa fa-beer fa-fw"></i> {{brew.name}}
                            <div class="pull-right" ng-show="showActions(brew)">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#" ng-click="finishBrew(brew, $index)" ng-hide="brew.finished_date || !brew.start_date">Mark finished</a></li>
                                        <li><a href="#" ng-click="startBrew(brew, $index)" ng-hide="brew.start_date">Start</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                          <div style="padding-bottom:10px;">
                            <div ng-show="!brew.start_date">
                              <div class="alert alert-danger">
                                This brew has not yet been started!
                              </div>
                            </div>
                            <form>
                              <div class="form-group">
                                <label for="commentBox">Comments</label>
                                <textarea id="commentBox" class="form-control" rows="2" ng-model="brew.comment" ng-blur="saveComment(brew)"></textarea>
                              </div>
                            </form>
                            <div class="row">
                              <div class="started_row" ng-show="brew.start_date">
                                <div class="col-sm-2 text-right"><strong>Started:</strong></div>
                                <div class="col-sm-4 text-left">{{brew.start_date}}</div>
                              </div>
                              <div class="finished_row" ng-show="brew.finished_date">
                                <div class="col-sm-2 text-right"><strong>Finished:</strong></div>
                                <div class="col-sm-4 text-left">{{brew.finished_date}}</div>
                              </div>
                            </div>
                          </div>
                          <div class="brew-loading" ng-show="brew.loading">Loading...</div>
                          <div class="brew-no-chart" ng-show="brew.temps.length === 0">No temp data</div>
                          <div class="brew-chart" ng-show="brew.temps.length > 0"></div>
                          <div class="brew-table" ng-show="false">
                            <ul>
                              <li ng-repeat="temp in brew.temps">{{temp.date}} - {{temp.temp}}
                              </li>
                            </ul>
                          </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <div class="panel panel-green" ng-show="brews.length === 0">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-beer fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">0 Active Brews</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <span class="pull-left">So get on it!</span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-exclamation fa-fw"></i> Events
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div ng-show="events.length === 0">
                              Nothing to see here!
                            </div>
                            <div ng-show="events.length > 0">
                              <ul class="list-group">
                                <li class="list-group-item" ng-class="{OVER:'list-group-item-danger', OKAY:'list-group-item-success', UNDER:'list-group-item-info'}[event.event_type]" ng-repeat="event in events">{{event.brew_id}} - {{event.event_type}}                                        <span class="pull-right text-muted small"><em>{{event.event_date}}</em></span>
                                </li>
                              </ul>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Lodash -->
    <script src="../bower_components/lodash/lodash.min.js"></script>

    <!-- AngularJS -->
    <script src="../bower_components/angularjs/angular.js"></script>
  
    <!-- Bootstrap Core JavaScript -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../bower_components/raphael/raphael-min.js"></script>
    <script src="../bower_components/morrisjs/morris.min.js"></script>
  
    <!-- Highcharts -->
    <script src="../bower_components/highcharts-release/highcharts.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../bower_components/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js"></script>
  
    <!-- Corner Couch -->
    <script src="../bower_components/CornerCouch/angular-cornercouch.js"></script>
  
    <!-- ui bootstrap -->
    <script src="ui-bootstrap-0.12.1.min.js"></script>
  
    <!-- our js -->
    <script src="index.js"></script>
    <!-- and date.js -->
    <script src="date.js"></script>

</body>
</html>
