<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Brewberry Pi Admin Console</title>

    <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="../bower_components/startbootstrap-sb-admin-2/dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../bower_components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../bower_components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>

      <div id="wrapper" ng-controller="brewberryController">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Brewberry {{ id }}</a>
            </div>

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <!--<li ng-repeat="brew in brews">
                          <a ng-click="showBrew(brew)"><i class="fa fa-beer fa-fw"></i> {{brew.name}}</a>
                        </li>-->
                    </ul>
                </div>
            </div>
        </nav>

        <div id="page-wrapper">
            <div class="row" style="padding-top:20px">
                <div class="col-lg-8">
                    <div class="panel panel-default" ng-repeat="brew in brews" brew-repeat-directive>
                        <div class="panel-heading">
                            <i class="fa fa-beer fa-fw"></i> {{brew.name}}
                            <div class="pull-right" ng-show="showActions(brew)">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#" ng-click="finishBrew(brew, $index)" ng-hide="brew.finished_date || !brew.start_date">Mark finished</a></li>
                                        <li><a href="#" ng-click="startBrew(brew, $index)" ng-hide="brew.start_date">Start</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                          <div style="padding-bottom:10px;">
                            <div class="row">
                              <div class="started_row" ng-show="brew.start_date">
                                <div class="col-sm-2 text-right"><strong>Started:</strong></div>
                                <div class="col-sm-10 text-left">{{brew.start_date}}</div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="finished_row" ng-show="brew.finished_date">
                                <div class="col-sm-2 text-right"><strong>Finished:</strong></div>
                                <div class="col-sm-10 text-left">{{brew.finished_date}}</div>
                              </div>
                            </div>
                          </div>
                          <div class="brew-no-chart" ng-show="brew.temps.length === 0">No temp data</div>
                          <div class="brew-chart" ng-show="brew.temps.length > 0"></div>
                          <div class="brew-table" ng-show="false">
                            <ul>
                              <li ng-repeat="temp in brew.temps">{{temp.date}} - {{temp.temp}}
                              </li>
                            </ul>
                          </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <div class="panel panel-green" ng-show="brews.length === 0">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-beer fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">0 Active Brews</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <span class="pull-left">So get on it!</span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-exclamation fa-fw"></i> Events
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div ng-show="events.length === 0">
                              Nothing to see here!
                            </div>
                            <div class="list-group" ng-show="events.length > 0">
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small"><em>4 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small"><em>12 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small"><em>27 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small"><em>43 minutes ago</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small"><em>11:32 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-bolt fa-fw"></i> Server Crashed!
                                    <span class="pull-right text-muted small"><em>11:13 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-warning fa-fw"></i> Server Not Responding
                                    <span class="pull-right text-muted small"><em>10:57 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
                                    <span class="pull-right text-muted small"><em>9:49 AM</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-money fa-fw"></i> Payment Received
                                    <span class="pull-right text-muted small"><em>Yesterday</em>
                                    </span>
                                </a>
                            </div>
                            <!-- /.list-group -->
                            <a href="#" class="btn btn-default btn-block">View All Alerts</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Underscore -->
    <script src="../bower_components/underscore/underscore-min.js"></script>

    <!-- AngularJS -->
    <script src="../bower_components/angularjs/angular.js"></script>
  
    <!-- Bootstrap Core JavaScript -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../bower_components/raphael/raphael-min.js"></script>
    <script src="../bower_components/morrisjs/morris.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../bower_components/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js"></script>
  
    <!-- Corner Couch -->
    <script src="../bower_components/CornerCouch/angular-cornercouch.js"></script>
  
    <!-- UI Bootstrap -->
    <script src="../bower_components/bootstrap-bower/js/bootstrap.min.js"></script>
  
    <!-- our js -->
    <script src="index.js"></script>
    <!-- and date.js -->
    <script src="date.js"></script>

</body>
</html>
